# Tuples

A tuple is similar to list.

The diffrenece between the two is that we can't change the elements of tuple once it is assigned wheres in the list, elements can be changed.

A tuple is a sequence of immutable Python objects.

# Tuple creation

In [1]:
# Empty tuple
t = ()
print(t)  

# Tuple having integers
t = (1, 2, 3)
print(t) 

# tuple with mixed datatypes
t = (1, "shivan", 3.4)
print(t)  

# nested tuple
t = ("shubham", "shivan", [8, 4, 6], (1, 2, 3))


print(t)

()
(1, 2, 3)
(1, 'shivan', 3.4)
('shubham', 'shivan', [8, 4, 6], (1, 2, 3))

In [2]:
#only parentesis is not enough

t = ('shivan')
type(t)

str

In [3]:
#need a comma at the end.

t = ('shivan',)
type(t)

tuple

In [4]:
# parentesis is optional

t = 'shivan',
print(type(t))

print(t)

<class 'tuple'>
('shivan',)

In [5]:
t = ('shivan','shubham')
type(t)

tuple

# Accessing Elements in Tuple

In [6]:
t = ('shivan', 'shubham', 'shashi', 'sanju')

print(t[1])

shubham

In [7]:
# Negative index

print(t[-1])      # Print last element in a tuple

sanju

In [8]:
# Nasted tuple

t = ('ABC', ('shubham', 'shashi', 'shivan'))

print(t[1])

('shubham', 'shashi', 'shivan')

In [9]:
print(t[1][2])

shivan

In [10]:
print(t[0][2])

C

# Slicing

In [11]:
t = (1, 2, 3, 4, 5, 6, 7)

print(t[1:4])         # 0 to n-1

# print element from starting to 2nd last elements
print(t[:-2])

# print element from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7)

# Changing a Tuple

Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [12]:
# create a tuple
t = (0, 1, 2, 3, [6, 5])

t[2] = 'x'      # will get TypeError becuse tuple are immutable.

TypeError: 'tuple' object does not support item assignment

In [13]:
t = (0, 1, 2, 3, [6, 5])
t[4][1] = 'shivan'
print(t)

(0, 1, 2, 3, [6, 'shivan'])

In [14]:
# COncatniting tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [15]:
# Repet the elements in a tuple for a given number of itmes using the *.

t = (('shivan',) * 4)
print(t)

('shivan', 'shivan', 'shivan', 'shivan')

# Tuple Deletion

In [16]:
# we cannot change the elements in a tuple.

# delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6, 7, 8)

# delete entire tuple

del t

# Tuple count

In [17]:
t = (1, 2,1, 3, 2, 1, 3, 4, 5, 6, 7, 8)

print(t.index(3))

3

# Tuple Membership

In [18]:
t = (1, 2, 3, 4, 5, 6, 7, 8)

print(4 in t)

True

In [19]:
print(9 in t)

False

# Built in Function

# Tuple Length

In [20]:
t =  (1, 2, 3, 4, 5, 6, 7, 8)

print(len(t))

8

# Tuple sort

In [21]:
t = (4, 5, 3, 7, 6)

new_t = sorted(t) 
print(new_t) # Take elements in the tuple and return a new sorted list
             # (Does not sort the tuple itself).

[3, 4, 5, 6, 7]

In [22]:
# Get the largest element in a tuple

t = (2, 5, 1, 6, 9)

print(max(t))

9

In [23]:
# Get the smallest element in a tuple

print(min(t))

1

In [24]:
# Get the sum element in a tuple

print(sum(t))

23